{% load static %}
{% block content %}

{% include 'head.html'%}



<form method="POST">
        {% csrf_token %}
        <fieldset class="checklist">
                <legend align="center" style="font-size: 30px; font-weight: 800; color: rgb(105, 147, 224);"> 체크리스트</legend>
                <div>
                        <div id="checklist">
                                <input type="text" class="form-control" placeholder="첫번째" aria-label="check_1">
                                <input type="text" class="form-control" placeholder="두번째" aria-label="check_2">
                                <input type="text" class="form-control" placeholder="세번째" aria-label="check_3">
                                <input type="text" class="form-control" placeholder="네번째" aria-label="check_4">
                                <input type="text" class="form-control" placeholder="다섯" aria-label="check_5">
                        </div>
                        
                        <input class="btn btn-primary" type="submit" value="작성" />
                </div>
        </fieldset>
</form>





{% endblock %}