<div class="nav">
    <h1 style="margin-left: 20px;"><a href="/main/">GO TRIP</a></h1>
    <nav>
        <ul>
            <li><a href="/main/">HOME</a></li>
            <li><a href="/blog/">여행 코스</a></li>

            {% if not user.is_authenticated %}
                <li><a href="/create/">회원가입</a></li>
                <li>
                    <a href="{% url 'serviceapp:login' %}">
                        <span>로그인</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'serviceapp:logout' %}?next={{ request.path }}">
                        <span>로그아웃</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
