{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- kakao API -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6657cd0c72e2dcf0a2a44ab6ce707727&libraries=services"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>




    <div class="header">
        {% include 'header.html' %}
        <div class="section">
            <h1>제목</h1>
            {{ blog_detail.제목 }}
        </div>
    </div>





    <hr style="background-color: white; height: 10px;border: 0px;">

    <div class="contain">
        <br>
        <div class="base_box" style="text-align: center;">

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{blog_detail.체크리스트1}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{blog_detail.체크리스트2}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{blog_detail.체크리스트3}}
                </label>
            </div>

            <table>
                <tr>
                    <td>검색하고자 하는 지역명 또는 도로주소명을 입력해주세요.</td>
                    <td><input type="text" id="address"></td>
                    <td><button type="submit" id="searchBtn">검색</button></td>
                </tr>
            </table>
            <div id="map" style="width:500px;height:500px;"></div>

            <div>
                <h2>내용</h2>
                {{ blog_detail.내용 }}
            </div>
            <div>
                <h3>이미지</h3>
                {% if blog_detail.이미지 %}
                    <img src="{{ blog_detail.이미지.url }}" alt="" height="600">
                {% endif %}
            </div>
            <div>
                <h3>조회수</h3>
                {{ blog_detail.counting }}
            </div>
        </div>


    </div>

    <script>

	var mapContainer = document.getElementById('map'), // 지도를 표시할 div
	    mapOption = {
	        center: new kakao.maps.LatLng(36.6108913, 127.286459), // 지도의 중심좌표
	        level: 3 // 지도의 확대 레벨
	    };

    var map = new kakao.maps.Map(mapContainer, mapOption);


	$('#searchBtn').click(function(){
		// 버튼을 click했을때

		// 지도를 생성합니다
		var map = new kakao.maps.Map(mapContainer, mapOption);

		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();

		// 주소로 좌표를 검색합니다
		geocoder.addressSearch($('#address').val(), function(result, status) {

		    // 정상적으로 검색이 완료됐으면
		     if (status === kakao.maps.services.Status.OK) {
		        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

		        // 결과값으로 받은 위치를 마커로 표시합니다
		        var marker = new kakao.maps.Marker({
		            map: map,
		            position: coords
		        });

		        // 인포윈도우로 장소에 대한 설명을 표시합니다
		        var infowindow = new kakao.maps.InfoWindow({
		            content: '<div style="width:150px;text-align:center;padding:6px 0;">검색 결과</div>'
		        });
		        infowindow.open(map, marker);

		        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
		        map.setCenter(coords);
		    }
		});
	});

	</script>
{% endblock %}
