{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="header">
        {% include 'header.html' %}
    <div>
        <div>
            <h1>제목</h1>
            {{ blog_detail.제목 }}
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                {{blog_detail.체크리스트1}}
            </label>

            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                {{blog_detail.체크리스트2}}
            </label>

            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                {{blog_detail.체크리스트3}}
            </label>
        </div>



        <div>
            <h2>내용</h2>
            {{ blog_detail.내용 }}
        </div>
        <div>
            <h3>이미지</h3>
            {% if blog_detail.이미지 %}
                <img src="{{ blog_detail.이미지.url }}" alt="" height="600">
            {% endif %}
        </div>
        <div>
            <h3>조회수</h3>
            {{ blog_detail.counting }}
        </div>
    </div>
{% endblock %}